
@{
    ViewBag.Title = "HesapAktiflestir";
}

<h2>HesapAktiflestir</h2>

<link href="~/Content/LoginCSS.css" rel="stylesheet" />

@using (Html.BeginForm())
{

    <section class="login-info">
        <div class="container">
            <div class="row main">
                <div class="form-header">
                    <h1 class="text-center ">Hesap Aktifleştirildi</h1>
                </div>
                <div class="main-content">



                    <div class="form-group ">
                        <p class="text-success"></p>
                        @*<button type="submit" class="btn btn-danger btn-lg btn-block login-button">Giriş</button>*@
                    </div>



                </div>
            </div>
        </div>
    </section>
}
